defmodule <%= inspect(@module) %> do
  @moduledoc """
  <%= @docstring %>
  """

  defstruct [
    <%= for {name, _type} <- @fields do %>
      :<%= inspect(name) %>,
    <% end %>
  ]

  @doc false
  def __fields__ do
    [
    <%= for {name, type} <- @fields do %>
      <%= inspect(name) %>: <%= inspect(type) %>,
    <% end %>
    ]
  end
end
