name: CI

on: [pull_request]

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    # See https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
    strategy:
      matrix:
        include:
          - pair:
              otp: "24.3.4.17"
              elixir: "1.15.8"
          - pair:
              otp: "28.x"
              elixir: "1.19.x"
            lint: lint
    env:
      MIX_ENV: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - name: Fetch Hex Cache
        uses: actions/cache@v4
        id: hex-cache
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{matrix.pair.otp}}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{matrix.pair.otp}}-

      - name: Check Code Format
        run: mix format --check-formatted
        if: ${{matrix.lint}}

      - name: Run Tests
        run: |
          mix deps.get
          mix test

      - name: Publish Results
        uses: dorny/test-reporter@v1
        if: ${{ failure() }}
        with:
          fail-on-error: "false"
          list-suites: failed
          list-tests: failed
          name: Results
          path: _build/test/lib/oapi_generator/*.xml
          reporter: java-junit
